<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AccountsTheGathering</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/frontierBundle.min.css" asp-append-version="true"/> @*Bundle and minified css files*@
</head>
<body>
<section id="wrapper">
    <header>
        <div id="title-container">
            <h1>Coding Test</h1>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3 content" id="home-content">
            @RenderBody()
        </main>
    </div>
</section>
    <footer class="border-top footer">
        <div class="container">
            &copy; @DateTime.Now.Year - Accounts: The Gathering
        </div>
    </footer>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>